<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="https://joeyjurjens.github.io/django-components-bootstrap/components/navdropdown/">
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Nav Dropdown - Django Components Bootstrap</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/fontawesome.min.css" rel="stylesheet">
        <link href="../../css/brands.min.css" rel="stylesheet">
        <link href="../../css/solid.min.css" rel="stylesheet">
        <link href="../../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" >
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <link href="../../stylesheets/extra.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">Django Components Bootstrap</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Components</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../accordion/" class="dropdown-item">Accordion</a>
</li>
                                    
<li>
    <a href="../alert/" class="dropdown-item">Alert</a>
</li>
                                    
<li>
    <a href="../badge/" class="dropdown-item">Badge</a>
</li>
                                    
<li>
    <a href="../breadcrumb/" class="dropdown-item">Breadcrumb</a>
</li>
                                    
<li>
    <a href="../button/" class="dropdown-item">Button</a>
</li>
                                    
<li>
    <a href="../buttongroup/" class="dropdown-item">Button Group</a>
</li>
                                    
<li>
    <a href="../card/" class="dropdown-item">Card</a>
</li>
                                    
<li>
    <a href="../carousel/" class="dropdown-item">Carousel</a>
</li>
                                    
<li>
    <a href="../closebutton/" class="dropdown-item">Close Button</a>
</li>
                                    
<li>
    <a href="../collapse/" class="dropdown-item">Collapse</a>
</li>
                                    
<li>
    <a href="../dropdown/" class="dropdown-item">Dropdown</a>
</li>
                                    
<li>
    <a href="../dropdownbutton/" class="dropdown-item">Dropdown Button</a>
</li>
                                    
<li>
    <a href="../figure/" class="dropdown-item">Figure</a>
</li>
                                    
<li>
    <a href="../form/" class="dropdown-item">Form</a>
</li>
                                    
<li>
    <a href="../image/" class="dropdown-item">Image</a>
</li>
                                    
<li>
    <a href="../layout/" class="dropdown-item">Layout</a>
</li>
                                    
<li>
    <a href="../listgroup/" class="dropdown-item">List Group</a>
</li>
                                    
<li>
    <a href="../modal/" class="dropdown-item">Modal</a>
</li>
                                    
<li>
    <a href="../nav/" class="dropdown-item">Nav</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active" aria-current="page">Nav Dropdown</a>
</li>
                                    
<li>
    <a href="../navbar/" class="dropdown-item">Navbar</a>
</li>
                                    
<li>
    <a href="../offcanvas/" class="dropdown-item">Offcanvas</a>
</li>
                                    
<li>
    <a href="../pagination/" class="dropdown-item">Pagination</a>
</li>
                                    
<li>
    <a href="../placeholder/" class="dropdown-item">Placeholder</a>
</li>
                                    
<li>
    <a href="../popover/" class="dropdown-item">Popover</a>
</li>
                                    
<li>
    <a href="../progress/" class="dropdown-item">Progress</a>
</li>
                                    
<li>
    <a href="../spinner/" class="dropdown-item">Spinner</a>
</li>
                                    
<li>
    <a href="../stack/" class="dropdown-item">Stack</a>
</li>
                                    
<li>
    <a href="../table/" class="dropdown-item">Table</a>
</li>
                                    
<li>
    <a href="../tabs/" class="dropdown-item">Tabs</a>
</li>
                                    
<li>
    <a href="../toast/" class="dropdown-item">Toast</a>
</li>
                                    
<li>
    <a href="../togglebutton/" class="dropdown-item">Toggle Button</a>
</li>
                                    
<li>
    <a href="../tooltip/" class="dropdown-item">Tooltip</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../nav/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../navbar/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/joeyjurjens/django-components-bootstrap/edit/master/docs/components/navdropdown.md" class="nav-link">Edit on joeyjurjens/django-components-bootstrap
                                    </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#navdropdown" class="nav-link">NavDropdown</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#nav-dropdown-basic" class="nav-link">Nav Dropdown Basic</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#nav-dropdown-disabled" class="nav-link">Nav Dropdown Disabled</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#nav-dropdown-dark" class="nav-link">Nav Dropdown Dark</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="navdropdown">NavDropdown</h1>
<h2 id="nav-dropdown-basic">Nav Dropdown Basic</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-0-1" name="__codelineno-0-1" href="#__codelineno-0-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Nav&quot;</span> <span class="nv">variant</span><span class="o">=</span><span class="s2">&quot;tabs&quot;</span> <span class="nv">as_</span><span class="o">=</span><span class="s2">&quot;ul&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-2" name="__codelineno-0-2" href="#__codelineno-0-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavItem&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-3" name="__codelineno-0-3" href="#__codelineno-0-3"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavLink&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="nv">active</span><span class="o">=</span><span class="kp">True</span> <span class="cp">%}</span><span class="x">Active</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-4" name="__codelineno-0-4" href="#__codelineno-0-4"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-5" name="__codelineno-0-5" href="#__codelineno-0-5"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavDropdown&quot;</span> <span class="nv">title</span><span class="o">=</span><span class="s2">&quot;Dropdown&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-6" name="__codelineno-0-6" href="#__codelineno-0-6"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;DropdownItem&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Action</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-7" name="__codelineno-0-7" href="#__codelineno-0-7"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;DropdownItem&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Another action</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-8" name="__codelineno-0-8" href="#__codelineno-0-8"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;DropdownItem&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Something else here</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-9" name="__codelineno-0-9" href="#__codelineno-0-9"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;DropdownDivider&quot;</span> <span class="o">/</span> <span class="cp">%}</span>
<a id="__codelineno-0-10" name="__codelineno-0-10" href="#__codelineno-0-10"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;DropdownItem&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Separated link</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-11" name="__codelineno-0-11" href="#__codelineno-0-11"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-12" name="__codelineno-0-12" href="#__codelineno-0-12"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavItem&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-13" name="__codelineno-0-13" href="#__codelineno-0-13"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavLink&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Link</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-14" name="__codelineno-0-14" href="#__codelineno-0-14"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-15" name="__codelineno-0-15" href="#__codelineno-0-15"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<ul class="nav nav-tabs" data-djc-id-ctKgxQs="">




        <li class="nav-item" data-djc-id-cvFuIPl="">





            <a aria-current="page" href="#" class="nav-link active" data-djc-id-ctfESRE="">
                Active
            </a>



        </li>




        <li class="nav-item dropdown" data-djc-id-cjURM9p="">




            <button type="button" id="nav-dropdown-cjURM9p" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" data-djc-id-cyZhPfA="">

                Dropdown

            </button>





        <ul class="dropdown-menu" data-djc-id-ce1bVCf="">





        <li data-djc-id-cf3biS1="">

                <a href="#" class="dropdown-item">
                    Action
                </a>

        </li>




        <li data-djc-id-c34ZbZB="">

                <a href="#" class="dropdown-item">
                    Another action
                </a>

        </li>




        <li data-djc-id-cZvKFPj="">

                <a href="#" class="dropdown-item">
                    Something else here
                </a>

        </li>




        <li data-djc-id-cqoaFOf=""><hr class="dropdown-divider"/></li>




        <li data-djc-id-c50nAuY="">

                <a href="#" class="dropdown-item">
                    Separated link
                </a>

        </li>



        </ul>

        </li>




        <li class="nav-item" data-djc-id-cZELicA="">





            <a href="#" class="nav-link" data-djc-id-ccAgJU6="">
                Link
            </a>



        </li>


        </ul>
</div>

<hr />
<h2 id="nav-dropdown-disabled">Nav Dropdown Disabled</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-1-1" name="__codelineno-1-1" href="#__codelineno-1-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Nav&quot;</span> <span class="nv">as_</span><span class="o">=</span><span class="s2">&quot;ul&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-1-2" name="__codelineno-1-2" href="#__codelineno-1-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavDropdown&quot;</span> <span class="nv">title</span><span class="o">=</span><span class="s2">&quot;Disabled Dropdown&quot;</span> <span class="nv">disabled</span><span class="o">=</span><span class="kp">True</span> <span class="cp">%}</span>
<a id="__codelineno-1-3" name="__codelineno-1-3" href="#__codelineno-1-3"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;DropdownItem&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Action</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-1-4" name="__codelineno-1-4" href="#__codelineno-1-4"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-1-5" name="__codelineno-1-5" href="#__codelineno-1-5"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<ul class="nav" data-djc-id-c3YKW2a="">




        <li class="nav-item dropdown" data-djc-id-cQHZjEe="">




            <button type="button" id="nav-dropdown-cQHZjEe" data-bs-toggle="dropdown" aria-expanded="false" disabled class="dropdown-toggle nav-link disabled" data-djc-id-c6LnQyD="">

                Disabled Dropdown

            </button>





        <ul class="dropdown-menu" data-djc-id-cIeZf9X="">





        <li data-djc-id-cfv7UbS="">

                <a href="#" class="dropdown-item">
                    Action
                </a>

        </li>



        </ul>

        </li>


        </ul>
</div>

<hr />
<h2 id="nav-dropdown-dark">Nav Dropdown Dark</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-2-1" name="__codelineno-2-1" href="#__codelineno-2-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Nav&quot;</span> <span class="nv">as_</span><span class="o">=</span><span class="s2">&quot;ul&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-2-2" name="__codelineno-2-2" href="#__codelineno-2-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavDropdown&quot;</span> <span class="nv">title</span><span class="o">=</span><span class="s2">&quot;Dark Dropdown&quot;</span> <span class="nv">dark</span><span class="o">=</span><span class="kp">True</span> <span class="cp">%}</span>
<a id="__codelineno-2-3" name="__codelineno-2-3" href="#__codelineno-2-3"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;DropdownItem&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Action</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-2-4" name="__codelineno-2-4" href="#__codelineno-2-4"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-2-5" name="__codelineno-2-5" href="#__codelineno-2-5"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<ul class="nav" data-djc-id-cQWAEk9="">




        <li class="nav-item dropdown" data-djc-id-cbWkCWR="">




            <button type="button" id="nav-dropdown-cbWkCWR" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" data-djc-id-coNSZeM="">

                Dark Dropdown

            </button>





        <ul class="dropdown-menu dropdown-menu-dark" data-djc-id-cmaAlRZ="">





        <li data-djc-id-cIwDr5d="">

                <a href="#" class="dropdown-item">
                    Action
                </a>

        </li>



        </ul>

        </li>


        </ul>
</div>

<hr /></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../javascripts/bootstrap-init.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
