<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="https://joeyjurjens.github.io/django-components-bootstrap/components/navbar/">
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Navbar - Django Components Bootstrap</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/fontawesome.min.css" rel="stylesheet">
        <link href="../../css/brands.min.css" rel="stylesheet">
        <link href="../../css/solid.min.css" rel="stylesheet">
        <link href="../../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" >
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <link href="../../stylesheets/extra.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">Django Components Bootstrap</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Components</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../accordion/" class="dropdown-item">Accordion</a>
</li>
                                    
<li>
    <a href="../alert/" class="dropdown-item">Alert</a>
</li>
                                    
<li>
    <a href="../badge/" class="dropdown-item">Badge</a>
</li>
                                    
<li>
    <a href="../breadcrumb/" class="dropdown-item">Breadcrumb</a>
</li>
                                    
<li>
    <a href="../button/" class="dropdown-item">Button</a>
</li>
                                    
<li>
    <a href="../buttongroup/" class="dropdown-item">Button Group</a>
</li>
                                    
<li>
    <a href="../card/" class="dropdown-item">Card</a>
</li>
                                    
<li>
    <a href="../carousel/" class="dropdown-item">Carousel</a>
</li>
                                    
<li>
    <a href="../closebutton/" class="dropdown-item">Close Button</a>
</li>
                                    
<li>
    <a href="../collapse/" class="dropdown-item">Collapse</a>
</li>
                                    
<li>
    <a href="../dropdown/" class="dropdown-item">Dropdown</a>
</li>
                                    
<li>
    <a href="../dropdownbutton/" class="dropdown-item">Dropdown Button</a>
</li>
                                    
<li>
    <a href="../figure/" class="dropdown-item">Figure</a>
</li>
                                    
<li>
    <a href="../form/" class="dropdown-item">Form</a>
</li>
                                    
<li>
    <a href="../image/" class="dropdown-item">Image</a>
</li>
                                    
<li>
    <a href="../layout/" class="dropdown-item">Layout</a>
</li>
                                    
<li>
    <a href="../listgroup/" class="dropdown-item">List Group</a>
</li>
                                    
<li>
    <a href="../modal/" class="dropdown-item">Modal</a>
</li>
                                    
<li>
    <a href="../nav/" class="dropdown-item">Nav</a>
</li>
                                    
<li>
    <a href="../navdropdown/" class="dropdown-item">Nav Dropdown</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active" aria-current="page">Navbar</a>
</li>
                                    
<li>
    <a href="../offcanvas/" class="dropdown-item">Offcanvas</a>
</li>
                                    
<li>
    <a href="../pagination/" class="dropdown-item">Pagination</a>
</li>
                                    
<li>
    <a href="../placeholder/" class="dropdown-item">Placeholder</a>
</li>
                                    
<li>
    <a href="../popover/" class="dropdown-item">Popover</a>
</li>
                                    
<li>
    <a href="../progress/" class="dropdown-item">Progress</a>
</li>
                                    
<li>
    <a href="../spinner/" class="dropdown-item">Spinner</a>
</li>
                                    
<li>
    <a href="../stack/" class="dropdown-item">Stack</a>
</li>
                                    
<li>
    <a href="../table/" class="dropdown-item">Table</a>
</li>
                                    
<li>
    <a href="../tabs/" class="dropdown-item">Tabs</a>
</li>
                                    
<li>
    <a href="../toast/" class="dropdown-item">Toast</a>
</li>
                                    
<li>
    <a href="../togglebutton/" class="dropdown-item">Toggle Button</a>
</li>
                                    
<li>
    <a href="../tooltip/" class="dropdown-item">Tooltip</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../navdropdown/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../offcanvas/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/joeyjurjens/django-components-bootstrap/edit/master/docs/components/navbar.md" class="nav-link">Edit on joeyjurjens/django-components-bootstrap
                                    </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#navbar" class="nav-link">Navbar</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#basic-navbar" class="nav-link">Basic Navbar</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-expand-sm" class="nav-link">Navbar Expand Sm</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-expand-md" class="nav-link">Navbar Expand Md</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-expand-xl" class="nav-link">Navbar Expand Xl</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-expand-xxl" class="nav-link">Navbar Expand Xxl</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-with-form" class="nav-link">Navbar With Form</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-light-background" class="nav-link">Navbar Light Background</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-primary-background" class="nav-link">Navbar Primary Background</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-container-sm" class="nav-link">Navbar Container Sm</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-container-md" class="nav-link">Navbar Container Md</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-container-lg" class="nav-link">Navbar Container Lg</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-container-xl" class="nav-link">Navbar Container Xl</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-container-xxl" class="nav-link">Navbar Container Xxl</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-disabled-brand" class="nav-link">Navbar Disabled Brand</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-with-brand-image" class="nav-link">Navbar With Brand Image</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-with-text" class="nav-link">Navbar With Text</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-dark" class="nav-link">Navbar Dark</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#navbar-without-container" class="nav-link">Navbar Without Container</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="navbar">Navbar</h1>
<h2 id="basic-navbar">Basic Navbar</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-0-1" name="__codelineno-0-1" href="#__codelineno-0-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-2" name="__codelineno-0-2" href="#__codelineno-0-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Brand</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-3" name="__codelineno-0-3" href="#__codelineno-0-3"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarToggler&quot;</span> <span class="o">/</span> <span class="cp">%}</span>
<a id="__codelineno-0-4" name="__codelineno-0-4" href="#__codelineno-0-4"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarCollapse&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-5" name="__codelineno-0-5" href="#__codelineno-0-5"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarNav&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-6" name="__codelineno-0-6" href="#__codelineno-0-6"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavItem&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-7" name="__codelineno-0-7" href="#__codelineno-0-7"></a><span class="x">                            </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavLink&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="nv">active</span><span class="o">=</span><span class="kp">True</span> <span class="cp">%}</span><span class="x">Home</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-8" name="__codelineno-0-8" href="#__codelineno-0-8"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-9" name="__codelineno-0-9" href="#__codelineno-0-9"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavItem&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-10" name="__codelineno-0-10" href="#__codelineno-0-10"></a><span class="x">                            </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavLink&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Features</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-11" name="__codelineno-0-11" href="#__codelineno-0-11"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-12" name="__codelineno-0-12" href="#__codelineno-0-12"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavItem&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-13" name="__codelineno-0-13" href="#__codelineno-0-13"></a><span class="x">                            </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavLink&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Pricing</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-14" name="__codelineno-0-14" href="#__codelineno-0-14"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-15" name="__codelineno-0-15" href="#__codelineno-0-15"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavItem&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-0-16" name="__codelineno-0-16" href="#__codelineno-0-16"></a><span class="x">                            </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavLink&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="nv">disabled</span><span class="o">=</span><span class="kp">True</span> <span class="cp">%}</span><span class="x">Disabled</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-17" name="__codelineno-0-17" href="#__codelineno-0-17"></a><span class="x">                        </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-18" name="__codelineno-0-18" href="#__codelineno-0-18"></a><span class="x">                    </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-19" name="__codelineno-0-19" href="#__codelineno-0-19"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-0-20" name="__codelineno-0-20" href="#__codelineno-0-20"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cb5AX0A="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-cvZeItC="">
                Brand
            </a>





        <button aria-controls="navbar-collapse-cb5AX0A" aria-expanded="false" aria-label="Toggle navigation" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-cb5AX0A" class="navbar-toggler" data-djc-id-c78DWYY="">

                <span class="navbar-toggler-icon"></span>

        </button>




        <div id="navbar-collapse-cb5AX0A" class="collapse navbar-collapse" data-djc-id-cFfxVTA="">




        <ul class="navbar-nav" data-djc-id-cVgbmqg="">




        <li class="nav-item" data-djc-id-chF5w7X="">





            <a aria-current="page" href="#" class="nav-link active" data-djc-id-cpEGdrh="">
                Home
            </a>



        </li>




        <li class="nav-item" data-djc-id-cboRFpR="">





            <a href="#" class="nav-link" data-djc-id-cU2wVH2="">
                Features
            </a>



        </li>




        <li class="nav-item" data-djc-id-cOOpwPN="">





            <a href="#" class="nav-link" data-djc-id-cOwmi5Q="">
                Pricing
            </a>



        </li>




        <li class="nav-item" data-djc-id-ctnOxqn="">





            <a aria-disabled="true" class="nav-link disabled" data-djc-id-c23zFIy="">
                Disabled
            </a>



        </li>


        </ul>


        </div>


                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-expand-sm">Navbar Expand Sm</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-1-1" name="__codelineno-1-1" href="#__codelineno-1-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;sm&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-1-2" name="__codelineno-1-2" href="#__codelineno-1-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Brand</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-1-3" name="__codelineno-1-3" href="#__codelineno-1-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-sm"  data-djc-id-c0Tur2b="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-ccSGCIa="">
                Brand
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-expand-md">Navbar Expand Md</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-2-1" name="__codelineno-2-1" href="#__codelineno-2-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;md&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-2-2" name="__codelineno-2-2" href="#__codelineno-2-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Brand</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-2-3" name="__codelineno-2-3" href="#__codelineno-2-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-md"  data-djc-id-czhxqCB="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-cPWvXEa="">
                Brand
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-expand-xl">Navbar Expand Xl</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-3-1" name="__codelineno-3-1" href="#__codelineno-3-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;xl&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-3-2" name="__codelineno-3-2" href="#__codelineno-3-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Brand</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-3-3" name="__codelineno-3-3" href="#__codelineno-3-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-xl"  data-djc-id-c84gFjQ="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-cp82sQV="">
                Brand
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-expand-xxl">Navbar Expand Xxl</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-4-1" name="__codelineno-4-1" href="#__codelineno-4-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;xxl&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-4-2" name="__codelineno-4-2" href="#__codelineno-4-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Brand</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-4-3" name="__codelineno-4-3" href="#__codelineno-4-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-xxl"  data-djc-id-cJjKhja="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-ci8JcEq="">
                Brand
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-with-form">Navbar With Form</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-5-1" name="__codelineno-5-1" href="#__codelineno-5-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-5-2" name="__codelineno-5-2" href="#__codelineno-5-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-5-3" name="__codelineno-5-3" href="#__codelineno-5-3"></a><span class="x">                &lt;form class=&quot;d-flex&quot; role=&quot;search&quot;&gt;</span>
<a id="__codelineno-5-4" name="__codelineno-5-4" href="#__codelineno-5-4"></a><span class="x">                    &lt;input class=&quot;form-control me-2&quot; type=&quot;search&quot; placeholder=&quot;Search&quot; aria-label=&quot;Search&quot;&gt;</span>
<a id="__codelineno-5-5" name="__codelineno-5-5" href="#__codelineno-5-5"></a><span class="x">                    &lt;button class=&quot;btn btn-outline-success&quot; type=&quot;submit&quot;&gt;Search&lt;/button&gt;</span>
<a id="__codelineno-5-6" name="__codelineno-5-6" href="#__codelineno-5-6"></a><span class="x">                &lt;/form&gt;</span>
<a id="__codelineno-5-7" name="__codelineno-5-7" href="#__codelineno-5-7"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cqS5QQr="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-c6Pjmk7="">
                Navbar
            </a>


                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-light-background">Navbar Light Background</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-6-1" name="__codelineno-6-1" href="#__codelineno-6-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-light&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-6-2" name="__codelineno-6-2" href="#__codelineno-6-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-6-3" name="__codelineno-6-3" href="#__codelineno-6-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-light navbar"  data-djc-id-cTEWfoN="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-c0yfrIN="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-primary-background">Navbar Primary Background</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-7-1" name="__codelineno-7-1" href="#__codelineno-7-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-primary&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">data-bs-theme</span><span class="o">=</span><span class="s2">&quot;dark&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-7-2" name="__codelineno-7-2" href="#__codelineno-7-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-7-3" name="__codelineno-7-3" href="#__codelineno-7-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav data-bs-theme="dark" class="bg-primary navbar"  data-djc-id-cO9mTYa="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-cmBSdu7="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-container-sm">Navbar Container Sm</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-8-1" name="__codelineno-8-1" href="#__codelineno-8-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="nv">container</span><span class="o">=</span><span class="s2">&quot;sm&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-8-2" name="__codelineno-8-2" href="#__codelineno-8-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-8-3" name="__codelineno-8-3" href="#__codelineno-8-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cQy5ICS="">

                    <div class="container-sm">





            <a href="#" class="navbar-brand" data-djc-id-cCIlmAb="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-container-md">Navbar Container Md</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-9-1" name="__codelineno-9-1" href="#__codelineno-9-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="nv">container</span><span class="o">=</span><span class="s2">&quot;md&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-9-2" name="__codelineno-9-2" href="#__codelineno-9-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-9-3" name="__codelineno-9-3" href="#__codelineno-9-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-c6lh9vP="">

                    <div class="container-md">





            <a href="#" class="navbar-brand" data-djc-id-cnxPpwX="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-container-lg">Navbar Container Lg</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-10-1" name="__codelineno-10-1" href="#__codelineno-10-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="nv">container</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-10-2" name="__codelineno-10-2" href="#__codelineno-10-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-10-3" name="__codelineno-10-3" href="#__codelineno-10-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cc8sxwT="">

                    <div class="container-lg">





            <a href="#" class="navbar-brand" data-djc-id-cAHhBta="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-container-xl">Navbar Container Xl</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-11-1" name="__codelineno-11-1" href="#__codelineno-11-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="nv">container</span><span class="o">=</span><span class="s2">&quot;xl&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-11-2" name="__codelineno-11-2" href="#__codelineno-11-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-11-3" name="__codelineno-11-3" href="#__codelineno-11-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cIN48XZ="">

                    <div class="container-xl">





            <a href="#" class="navbar-brand" data-djc-id-cf4gZdD="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-container-xxl">Navbar Container Xxl</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-12-1" name="__codelineno-12-1" href="#__codelineno-12-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="nv">container</span><span class="o">=</span><span class="s2">&quot;xxl&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-12-2" name="__codelineno-12-2" href="#__codelineno-12-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-12-3" name="__codelineno-12-3" href="#__codelineno-12-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cvLxBCl="">

                    <div class="container-xxl">





            <a href="#" class="navbar-brand" data-djc-id-cfKmzlo="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-disabled-brand">Navbar Disabled Brand</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-13-1" name="__codelineno-13-1" href="#__codelineno-13-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-13-2" name="__codelineno-13-2" href="#__codelineno-13-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Disabled Brand</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-13-3" name="__codelineno-13-3" href="#__codelineno-13-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar"  data-djc-id-cM6DGvG="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-cRVyph5="">
                Disabled Brand
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-with-brand-image">Navbar With Brand Image</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-14-1" name="__codelineno-14-1" href="#__codelineno-14-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-14-2" name="__codelineno-14-2" href="#__codelineno-14-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-14-3" name="__codelineno-14-3" href="#__codelineno-14-3"></a><span class="x">                    &lt;img src=&quot;/docs/5.3/assets/brand/bootstrap-logo.svg&quot; alt=&quot;Bootstrap&quot; width=&quot;30&quot; height=&quot;24&quot; class=&quot;d-inline-block align-text-top&quot;&gt;</span>
<a id="__codelineno-14-4" name="__codelineno-14-4" href="#__codelineno-14-4"></a><span class="x">                    Bootstrap</span>
<a id="__codelineno-14-5" name="__codelineno-14-5" href="#__codelineno-14-5"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-14-6" name="__codelineno-14-6" href="#__codelineno-14-6"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cyR2c75="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-ck6HKGL="">

                    <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top"/>
                    Bootstrap

            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-with-text">Navbar With Text</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-15-1" name="__codelineno-15-1" href="#__codelineno-15-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-15-2" name="__codelineno-15-2" href="#__codelineno-15-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar w/ text</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-15-3" name="__codelineno-15-3" href="#__codelineno-15-3"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarText&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-15-4" name="__codelineno-15-4" href="#__codelineno-15-4"></a><span class="x">                    Navbar text with an inline element</span>
<a id="__codelineno-15-5" name="__codelineno-15-5" href="#__codelineno-15-5"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-15-6" name="__codelineno-15-6" href="#__codelineno-15-6"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar"  data-djc-id-cSFZQFo="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-cLkTDbQ="">
                Navbar w/ text
            </a>





        <span class="navbar-text" data-djc-id-cBOD6Va="">

                    Navbar text with an inline element

        </span>


                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-dark">Navbar Dark</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-16-1" name="__codelineno-16-1" href="#__codelineno-16-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;navbar-dark bg-dark&quot;</span> <span class="nv">variant</span><span class="o">=</span><span class="s2">&quot;dark&quot;</span> <span class="cp">%}</span>
<a id="__codelineno-16-2" name="__codelineno-16-2" href="#__codelineno-16-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-16-3" name="__codelineno-16-3" href="#__codelineno-16-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="navbar-dark bg-dark navbar" data-bs-theme="dark" data-djc-id-crDg3go="">

                    <div class="container-fluid">





            <a href="#" class="navbar-brand" data-djc-id-cx16o4g="">
                Navbar
            </a>



                    </div>

            </nav>
</div>

<hr />
<h2 id="navbar-without-container">Navbar Without Container</h2>
<div class="highlight"><pre><span></span><code><a id="__codelineno-17-1" name="__codelineno-17-1" href="#__codelineno-17-1"></a><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;Navbar&quot;</span> <span class="nv">expand</span><span class="o">=</span><span class="s2">&quot;lg&quot;</span> <span class="nv">attrs</span><span class="o">:</span><span class="nv">class</span><span class="o">=</span><span class="s2">&quot;bg-body-tertiary&quot;</span> <span class="nv">container</span><span class="o">=</span><span class="kp">False</span> <span class="cp">%}</span>
<a id="__codelineno-17-2" name="__codelineno-17-2" href="#__codelineno-17-2"></a><span class="x">                </span><span class="cp">{%</span> <span class="k">component</span> <span class="s2">&quot;NavbarBrand&quot;</span> <span class="nv">href</span><span class="o">=</span><span class="s2">&quot;#&quot;</span> <span class="cp">%}</span><span class="x">Navbar</span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
<a id="__codelineno-17-3" name="__codelineno-17-3" href="#__codelineno-17-3"></a><span class="x">            </span><span class="cp">{%</span> <span class="k">endcomponent</span> <span class="cp">%}</span>
</code></pre></div>
<p><strong>Preview:</strong></p>
<div class="bs-example">
<nav class="bg-body-tertiary navbar navbar-expand-lg"  data-djc-id-cXaSER0="">






            <a href="#" class="navbar-brand" data-djc-id-cqIPAFG="">
                Navbar
            </a>




            </nav>
</div>

<hr /></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../javascripts/bootstrap-init.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
